/**********************************
 * Стили классов секции "Обо мне" *
 **********************************/
 .about-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.94vh 0 0 0;
}

.about-desc {
  width: 70%;
  margin: 3.7vh 0 16.85vh 0;
  padding: 0;
}

.about-photo {
  width: 30vmax;
  height: 40vmax;
  margin: -5vw 0 7.03vh 0;
  padding: 0;
  border: var(--img-border);
  border-radius: 10px;
  overflow: hidden;
}

.about-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}