/***************************************************
* Цвета (комбинируются с другими классами) *
***************************************************/
.color-black {
    /* черный цвет текста */
    color: #141C3A;
  }
  .color-orange {
    /* оранжевый цвет текста */
    color: #FF9235;
  }
  .background-turquoise {
    /* бирюзовый цвет фона */
    background-color: #5dd9c8;
  }