/*********************************
* Стили классов секции с формой *
*********************************/
#form .big-header {
    text-transform: none;
    margin-bottom: 4.16vh;
  }
  .form-details {
    padding: 5.92vh 0;
  }
  .form-details-text {
    padding: 0;
    margin: 0;
  }
  .form-pic {
    /* Задаем размер картинки в зависимости от ширины 
     * экрана, чтобы форма отображалась корректно на 
     * более узких размерах окна.
     * vw используется, чтобы сохранить соотношение сторон картинки. 
     * Подробнее см. выше. */
    width: 35vw;
    height: 35vw;
    margin-left: 5vw;
  }
  .form-container {
    width: 100%;
    padding: 9.26vh 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .form {
    margin: 0 5vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-sender-data {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Убираем рамку, которая есть по умолчанию у элемента <fieldset>. */
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-field {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .form-label {
    margin: 0 0 0.92vh 0.2vw;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 1.85vh;
    font-weight: 400;
    line-height: 3.33vh;
    text-align: center;
  }
  /* Задаем стили для полей формы input и textarea. */
  .form-input {
    margin: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 3.33vh;
    font-weight: 400;
    line-height: 5vh;
    border: 1px solid #FF9235;
    border-radius: 1.11vh;
  }
  /* Уточненяем стили для полей input, которые
  * находятся в контейнере с классом form-sender-data. */
  .form-sender-data .form-input {
    min-width: 7.81vw;
    max-width: 20vw;
    padding: 0 0.31vw;
  }
  /* Используем псевдокласс first-child, чтобы добавить
  * отступ между полями ввода.
  * Поскольку их всего 2, задаем отступ первому элементу
  * в родительском контейнере. */
  .form-sender-data .form-field:first-child {
    padding-right: 0.52vw;
  }
  .form-text-body {
    margin: 4.44vh 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  /* Уточняем стили для textarea, который
  * находится в контейнере с классом form-text-body. */
  .form-text-body .form-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.55vh;
  }
  .form-submit {
    margin: 4.44vh 0 0 0;
    padding: 0;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    /* Используем flex-end, чтобы выровнять кнопку по правому краю. */
    justify-content: flex-end;
  }
  .form-button {
    padding: 1.39vh 2.08vw;
    margin: 0;
    background-color: #ffffff;
    border: 2px solid #ff9235;
    border-radius: 1.39vh;
    transition: all 200ms 0ms;
  }
  .form-button:hover {
    background-color: #ff9235;
    color: #ffffff;
  }
  .form-button-text {
    font-family: "TildaSans", sans-serif;
    font-size: 2.31vh;
    font-weight: 700;
    line-height: 2.77vh;
    text-align: center;
    /* Про inherit для наследования цвета 
     * при hover и комбинировании классов см. выше. */
    color: inherit;
  }