/*******************************************************
* Стили классов секции «Договоримся о сотрудничестве» *
*******************************************************/
.letstalk-box {
    /* Задаем отрицательный margin, чтобы создать наложение на предыдущую секцию. */
    margin: 0;
    padding: 1.11vh 3vw;
    background-color: #8063a6;
    border-radius: 1.11vh;
    width: 80%;
    /* Задаем фиксированную высоту, чтобы было проще настроить
     * наложение секции на следующую. */
    height: 15.37vh;
    /* Используем flex, чтобы отступы по краям и между элементами были одинаковыми. */
    display: flex;
    flex-direction: row;
    /* gap равен горизонтальному padding */
    gap: 3vw;
  }
  .letstalk-header {
    margin: auto 0;
    color: #ffffff;
    font-family: "TildaSans", sans-serif;
    font-size: 2.77vh;
    font-weight: 700;
    line-height: 4.16vh;
    text-align: center;
  }
  .letstalk-text {
    margin: auto 0;
    padding: 0;
    color: #ffffff;
    font-family: "TildaSans", sans-serif;
    font-size: 1.85vh;
    font-weight: 600;
    line-height: 2.77vh;
    text-align: center;
  }
  .letstalk-button {
    margin: 0;
    padding: 1.38vh 1.56vw;
    border: 2px solid #ffffff;
    border-radius: 1.39vh;
    color: #ffffff;
    transition: all 200ms 0ms;
  }
  .letstalk-button:hover {
    background-color: #ffffff;
    color: #8063a6;
  }
  .letstalk-button-text {
    font-family: "TildaSans", sans-serif;
    font-size: 1.85vh;
    font-weight: 700;
    line-height: 2.77vh;
    text-align: center;
    /* Отключаем перенос, чтобы flexbox не переносил текст в кнопке. 
     * Все элементы состоят из текста, который можно перенести, 
     * но здесь нам это не нужно. Поэтому отключаем перенос. */
    white-space: nowrap;
   /* Про inherit для наследования цвета 
     * при hover и комбинировании классов см. выше. */
    color: inherit;
  }
  .letstalk-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }