/************************
* Стили классов футера *
************************/
footer {
    /* Эффект наложения фиолетовой секции задаем с помощью 
     * фиксированного отрицательного margin сверху.
     * Для этого же добавляем положительный padding сверху такого же размера.
     * Размер наложения — 1/2 высоты фиолетовой секции. */
    margin: -8.8vh 0 0 0;
    padding: 8.8vh 0 0 0;
    background-color: #5dd9c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-socials {
    margin: 5.55vh 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .footer-social-container {
    height: 4.44vh;
    width: 2.5vw;
    box-sizing: border-box;
    margin: 0 0.78vw;
    padding: 0.37vh;
    border: 2px solid #141c3a;
    border-radius: 4.44vh;
    transition: all 200ms 0ms;
  }
  .footer-social-container:hover {
    background-color: #8063a6;
    border: 2px solid #8063a6;
  }
  /* Задаем стили сразу двум иконкам разных цветов. 
  * Подробнее см. HTML-файл. */
  .footer-social-icon {
    height: 3.33vh;
    width: 1.87vw;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
  .footer-social-container:hover .footer-social-icon {
    display: none;
  }
  .icon-hover {
    display: none;
  }
  .footer-social-container:hover .icon-hover {
    display: block;
  }
  .footer-links {
    margin: 2.77vh 0 4.16vh 0;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 1.48vh;
    font-weight: 400;
    line-height: 2.22vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }