/**************************************
* Отключение ненужного форматирования
**************************************/
body {
  margin: 0;
  padding: 0;
}
a {
  /* Отключаем подчеркивание сразу всех
   * ссылок на странице и отключаем синий
   * цвет текста. 
   * Делаем это с помощью наследования цвета
   * из родительского элемента. */
  text-decoration: none;
  color: inherit;
}
a:visited {
  /* Отключаем фиолетовый цвет текста для
   * посещенных ссылок, также, как и выше. */
  text-decoration: none;
  color: inherit;
}
button, input, textarea {
  /* Стиль outline появляется не во всех браузерах. 
   * Но очень портит внешний вид, там,
   * где он включен. Поэтому отключаем его. */
  outline: none;
  appearance: none;
}
button:focus, input:focus, textarea:focus {
  outline: none;
}