/**********************************
* Стили классов секции «Главная» *
**********************************/
#main {
    padding: 80px 0 0 0;
  }
  .main-desc {
    width: 70%;
    margin: 48px 0 0 0;
    padding: 0;
  }
  .main-pic {
    /* Задаем максимальную ширина картинки, чтобы
     * она не вылезала за пределы экрана при уменьшении размера окна. 
     * И при этом не растягивалась бы в случаях, когда 80%
     * от ширины экрана — это больше, чем естественная ширина картинки.
     * * * * * * * * * * * * * * * * * * * * * * * * *
     * Высоту картинки не задаем, поскольку здесь для
     * отображения это роли не играет.
     * Если задан только один параметр (ширина или высота),
     * второй будет рассчитан автоматически, 
     * чтобы сохранить пропорции.
     * * * * * * * * * * * * * * * * * * * * * * * * *
     * Задаем ширину через относительную единицу vw,
     * которая равна 1% ширины экрана.
     * vw отличается от процента тем, что опирается
     * на ширину окна, а не родительского элемента.
     * Позволяет задавать высоту в процентах
     * от ширины и наоборот. */
    max-width: 80vw;
    margin: 66px 0 0 0;
    padding: 0;
  }