/*********************************
* Стили классов секции «Отзывы» *
*********************************/
#reviews .big-header {
    margin: 5.92vh 0;
  }
  .reviews-desc {
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .reviews-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews-photo {
    /* используем vw, чтобы сохранить соотношение 
     * сторон картинки, подробнее см. выше. */
    width: 20vw;
    height: 15vw;
    margin: 4.72vh 0;
    padding: 0;
    border: 3px solid #5dd9c8;
    border-radius: 0.92vh;
    /* Про overflow: hidden для корректного
     * скругления углов см. выше. */
    overflow: hidden;
  }
  .reviews-photo img {
    height: 100%;
    width: 100%;
    /* Про object-fit: cover для корректного
     * скругления углов см. выше. */
    object-fit: cover;
  }
  .reviews-caption {
    margin: 0;
    padding: 0;
  }
  .reviews-text {
    margin: 1.85vh 0;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 3.33vh;
    font-weight: 400;
    line-height: 5vh;
    text-align: center;
  }
  .reviews-info {
    margin: 0;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 1.85vh;
    font-weight: 400;
    line-height: 2.77vh;
    text-align: center;
  }
  .reviews-toggle {
    margin: 3.8vh 0 4.16vh 0;
    /* Задаем конкретный размер кнопок, так как они не меняются 
     * в зависимости от размера экрана. 
     * В ширину включаем размер двух кнопок и отступ между ними.
     * Задаем space-between, чтобы кнопки прижались к краям 
     * родительского контейнера и между ними появился отступ. */
    width: 7.18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reviews-toggle-button {
    padding: 0 0.31vw;
    height: 3.7vh;
    border: 2px solid #ff9235;
    border-radius: 1.85vh;
    background: #ffffff;
    transition: all 200ms 0ms;
  }
  .reviews-toggle-button:hover {
    background-color: #ff9235;
  }
  /* Заменяем одну иконку на вторую, с другим
  * цветом при наведении. Подробнее см. HTML. */
  .reviews-toggle-button:hover .reviews-toggle-arrow {
    display: none;
  }
  .reviews-toggle-button:hover .icon-hover {
    display: block;
  }