/*********************************
* Стили классов секции «Отзывы» *
*********************************/
#reviews .big-header {
    margin: 64px 0;
  }
  .reviews-desc {
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .reviews-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews-photo {
    /* используем vw, чтобы сохранить соотношение 
     * сторон картинки, подробнее см. выше. */
    width: 20vw;
    height: 15vw;
    margin: 51px 0;
    padding: 0;
    border: 3px solid #5dd9c8;
    border-radius: 10px;
    /* Про overflow: hidden для корректного
     * скругления углов см. выше. */
    overflow: hidden;
  }
  .reviews-photo img {
    height: 100%;
    width: 100%;
    /* Про object-fit: cover для корректного
     * скругления углов см. выше. */
    object-fit: cover;
  }
  .reviews-caption {
    margin: 0;
    padding: 0;
  }
  .reviews-text {
    margin: 20px 0;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
  }
  .reviews-info {
    margin: 0;
    padding: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .reviews-toggle {
    margin: 41px 0 45px 0;
    /* Задаем конкретный размер кнопок, так как они не меняются 
     * в зависимости от размера экрана. 
     * В ширину включаем размер двух кнопок и отступ между ними.
     * Задаем space-between, чтобы кнопки прижались к краям 
     * родительского контейнера и между ними появился отступ. */
    width: 138px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reviews-toggle-button {
    padding: 0 6px;
    height: 40px;
    border: 2px solid #ff9235;
    border-radius: 20px;
    background: #ffffff;
  }
  .reviews-toggle-button:hover {
    background-color: #ff9235;
  }
  /* Заменяем одну иконку на вторую, с другим
  * цветом при наведении. Подробнее см. HTML. */
  .reviews-toggle-button:hover .reviews-toggle-arrow {
    display: none;
  }
  .reviews-toggle-button:hover .icon-hover {
    display: block;
  }